.header {
    margin: 20px 150px 0 150px;
    font-family: "Noto Sans Kr";
    font-size: 14px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.contact {
    text-align: right;
}

.divider {
    margin: 10px 0;
}

.navbar {
    margin-bottom: 10px;
}

.image {
    width: 100%;
}

