.header {
    margin: 20px 150px 0 150px;
    font-family: "Noto Sans Kr", sans-serif;
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.companyName {
    font-size: 20px;
}

.contact {
    text-align: right;
    font-size: 16px;
}

.divider {
    margin: 10px 0;
}

.heroArea {
    position: relative;
    font-family: "Noto Sans Kr", sans-serif;
}

.navbar {
    margin-bottom: 10px;
}

.image {
    width: 100%;
}

.bannerText {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;   
}

.companyBlob {
    margin-top: 100px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

.rightSubtitle {
    font-size: 24px;
    margin-bottom: 4px;
}

.rightSubtext {
    font-size: 24px;
    line-height: 1.6;
}

.verticalDivider {
    margin: 0 80px
}
